src/*.exe
src/bloombitcoin
src/bloombitcoind
src/test_bloombitcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bloombitcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
bloombitcoin-qt
BloomBitcoin-Qt.app

# Unit-tests
Makefile.test
bloombitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
